/*作者：Zev*/

.warp {
	width: 100%;
	/*height: 2500px;*/
	overflow: hidden;
}

.warp .header {
	width: 100%;
	height: 170px;
}

.header .headTop {
	width: 1060px;
	height: 120px;
	margin: 0 auto;
}

.headTop .logo img {
	width: 150px;
	height: 50px;
	position: absolute;
	margin-top: 40px;
}

.headTop span img {
	margin-left: 250px;
	margin-top: 20px;
}

.nav {
	width: 100%;
	height: 50px;
	background: deeppink;
	position: relative;
}

.nav ul {
	width: 1200px;
	height: 50px;
	margin: auto;
}

.nav ul li {
	float: left;
	margin-left: 60px;
	line-height: 50px;
}

.nav ul li a {
	font-size: 20px;
	color: black;
	font-weight: bold;
}

.nav ul .sou {
	width: 300px;
	height: 50px;
	position: absolute;
	right: 6%;
}

.nav ul .sou .inOne {
	width: 200px;
	height: 30px;
	margin-top: 8px;
	padding: 1px 0;
	text-indent: 8px;
	border: none;
	font-size: 14px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.nav ul .sou .inTwo {
	width: 50px;
	height: 32px;
	background: darkorange;
	margin-top: 6px;
	margin-left: -8px;
	outline: none;
	border: none;
	color: white;
	font-weight: bold;
	font-size: 14px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.m-content {
	width: 100%;
	height: 598px;
	position: relative;
	background: url(../images/pj-banner1.png)no-repeat top;
}

.m-content_right {
	position: absolute;
	right: 124px;
	top: 63px;
	width: 596px;
	height: 396px;
	background: rgba(255, 255, 255, 0.4);
}

.m-content_right>h1 {
	font-size: 38px;
	color: #000000;
	margin-top: 82px;
	margin-left: 238px;
	-font-family: "微软雅黑";
}

.m-content_nei {
	width: 492px;
	height: 243px;
	margin-left: 34px;
	border-top: 1px solid #393532;
	margin-top: 23px;
}

.m-content_nei p:nth-child(1) {
	font-size: 13px;
	font-family: "微软雅黑";
	margin-top: 35px;
	width: 485px;
}

.m-content_nei p:nth-child(2) {
	font-size: 13px;
	font-family: "微软雅黑";
	margin-left: 25px;
	margin-top: 15px;
	width: 485px;
	height: 24px;
	line-height: 24px;
}

.m-content_nei p:nth-child(3) {
	font-size: 13px;
	font-family: "微软雅黑";
	margin-left: 25px;
	margin-top: 10px;
	width: 485px;
	height: 24px;
	line-height: 24px;
}

.m-content_nei p:nth-child(4) {
	font-size: 13px;
	font-family: "微软雅黑";
	margin-left: 25px;
	margin-top: 10px;
	width: 485px;
	height: 24px;
	line-height: 24px;
}

.m-biby {
	width: 1180px;
	height: 284px;
	margin-left: 69px;
	margin-top: 10px;
	margin: 0 auto;
}

.m-biby img {
	width: 380px;
	height: 280px;
	padding-top: 2px;
	margin-left: 5px;
}

.m-active {
	width: 100%;
	height:926px;
}

.m-active ul {
	width: 1181px;
	/*height: 1383px;*/
	margin: 0 auto;
	margin-top: 30px;
}

.m-active ul li {
	width: 240px;
	height: 432px;
	float: left;
	margin-left: 43px;
	margin-top: 20px;
	text-align: center;
	overflow: hidden;
}

.m-imge {
	width: 240px;
	height: 350px;
	position: relative;
	-margin-left: -28px;
}

.m-active ul li img {
	display: block;
	width: 250px;
	height: 350px;
	float: left;
}

.m-active ul li p {
	width: auto;
	height: 35px;
	line-height: 35px;
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #666;
	font-family: "微软雅黑";
	border-bottom: 1px dashed #ccc;
}

.m-active ul li p:nth-child(3) {
	border-bottom: none;
	color: #ed3da1;
	font-size: 20px;
	text-align: center;
}

.m-mor {
	/*display: block;*/
	font-size: 12px;
}

.m-big {
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: #000;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
	border-radius: 50%;
	display: none;
	color: white;
}

.m-big i {
	line-height: 50px;
	text-align: center;
}


footer {
	width: 100%;
	height: 300px;
	background: #f5f5f5;
	margin-top: 50px;
}

.footer_center {
	width: 1200px;
	height: 300px;
	margin: 0 auto;
}

.foooter_center_left {
	width: 225px;
	height: 300px;
	float: left;
}

.foooter_center_left span {
	width: 225px;
	height: 30px;
	font-size: 20px;
	color: #717171;
	display: inline-block;
	float: left;
	margin-top: 30px;
}

.ly_photo {
	width: 225px;
	height: 95px;
	float: left;
}

p.webchat {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: 20px;
	float: left;
	margin-top: 15px;
}

p.ly_call {
	width: 225px;
	height: 30px;
	font-size: 18px;
	color: #717171;
	float: left;
}

div.ly_over {
	width: 750px;
	height: 300px;
	float: left;
	display: block;
}

div.ly_over ul {
	width: 187px;
	height: 270px;
	padding-top: 30px;
	float: left;
}

div.ly_over ul li:first-child {
	font-weight: bold;
	font-size: 18px;
	color: #000;
}

div.ly_over ul li {
	width: 100%;
	text-align: center;
	margin-top: 15px;
	color: #717171;
}

div.ly_erweima {
	width: 225px;
	height: 100%;
	float: right;
}

div.ly_erweima img {
	width: 180px;
	height: 180px;
	display: block;
	margin: 60px auto;
}



